<footer class="bg-near-black white-70 pv4 ph4">
  <div class="mw9 center">
    <p class="f6 lh-copy">
      <em>Prices and availability subject to change. As an Amazon Associate we earn from qualifying purchases.</em>
    </p>
    <p class="f7 lh-copy">
      HomeKitchen Picks is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com. As an Amazon Associate we earn from qualifying purchases.
      <a href="/privacy-policy/" class="white-60 hover-white">Privacy Policy</a>
    </p>
    <p class="f7 mt3">&copy; {{ now.Year }} {{ site.Params.copyright | default site.Title }}</p>
  </div>
</footer>
