<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en-us" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ site.Title }}{{ end }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  {{- /* Speed: preconnect to third-party origins */ -}}
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link rel="preconnect" href="https://www.google-analytics.com">
  <link rel="dns-prefetch" href="https://unpkg.com">
  {{- /* Speed: preload critical local CSS */ -}}
  <link rel="preload" href="{{ "/css/tachyons.min.css" | relURL }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ "/css/tachyons.min.css" | relURL }}"></noscript>
  <link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}">
  {{ partial "head-additions.html" . }}
  {{ block "head" . }}{{ end }}
</head>
<body class="bg-white">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PLN4Q6PZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{ block "header" . }}{{ partial "site-header.html" . }}{{ end }}
  <main class="{{ block "main-class" . }}pb7{{ end }}" role="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "cookie-consent.html" . }}
  {{ block "footer" . }}{{ partial "site-footer.html" . }}{{ end }}
  <script src="{{ "/js/cookie-consent.js" | relURL }}" defer></script>
</body>
</html>
