<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en-us" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}{{ end }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css">
  {{ block "head" . }}{{ end }}
</head>
<body class="bg-white">
  {{ block "header" . }}{{ partial "site-header.html" . }}{{ end }}
  <main class="{{ block "main-class" . }}pb7{{ end }}" role="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ block "footer" . }}{{ partial "site-footer.html" . }}{{ end }}
</body>
</html>
